# Processamento e visualização de dados
numpy
scipy
matplotlib

# Machine Learning
tensorflow==2.13.0
tensorflow-hub==0.15.0

# Processamento de áudio
sounddevice
soundfile
pydub
SpeechRecognition

# API & Web
fastapi
uvicorn

# Database
sqlalchemy
psycopg2-binary
alembic

# Segurança e autenticação
passlib[bcrypt]
bcrypt<4.1
python-jose

# Utilitários
cffi
python-dotenv
pydantic
pydantic-settings